Android Open Source Project
BraveSoftware
Electron
FreeTube
Genymobile
Google
Insomnia
Popcorn-Time
QtProject
QtProject.conf
Softdeluxe
VirtualBox
WebTorrent
#alacritty
autostart
bluetuith
btop
cef_user_data
cmus
configstore
copyq
create-next-app-nodejs
ctpv
cubocore
dconf
discord
easyeffects
fluent-reader
font-manager
fontconfig
gconf
google-chrome
gtk-3.0
gtk-4.0
#hypr
hypridle.conf
jgit
karboncalligraphyrc
kritadisplayrc
kritarc
lf
lvim
menus
mimeapps.list
mpv
neix
neofetch
nextjs-nodejs
ngrok
nl.tudelft.tribler.conf
nuclear
nvim
nwg-look
obsidian
pavucontrol.ini
protonvpn
pulse
qBittorrent
qalculate
#qutebrowser
reddit_desktop
screenshot
simple-update-notifier
#starship.toml
sway
swayidle
systemd
tixati
#tmux
#tofi
transmission-daemon
user-dirs.dirs
user-dirs.locale
#wallpaper
warp-terminal
#waybar
yay
zathura
zoom.conf
zoomus.conf
